.item {
  width: 100%;
  background-color: white;
  margin-top: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 3fr;
}

.grid-pic {
  grid-column: 1;
  grid-row: 2/1;
  background-color: white;
  display: flex;
  margin-left: 30px;
}
.image {
  display: flex;
  margin-top: 20px;
  width: 100px !important;
  height: 75px !important;
  overflow: hidden;
}
.grid-pic img {
  object-fit: cover;
  width: 100%;
}
.grid-info {
  grid-column: 2 / 4;
  grid-row: 1;
  background-color: white;
}

.info {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.info .justify {
  display: flex;
  justify-content: space-between;
}
.info .justify h3 {
  font-weight: 100;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.info p {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 7px;
}
.info p span {
  font-weight: 100;
  font-size: 14px;
  color: #6969d1;
}

.grid-qty {
  grid-row: 2;
  grid-column: 2/4;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.qty-price p {
  text-align: right;
  margin: 0;
  padding: 0;
}
.qty-price .p1 {
  color: #6969d1;
  text-decoration: line-through;
  margin-right: 20px;
}
.qty-price .p2 {
  font-weight: bold;
  margin-right: 20px;
}

.qty-all {
  margin-top: 30px;
  display: flex;
}
.grid-qty span {
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
}

/* button */
.custom-qty {
  cursor: pointer;
  border: 1px solid #b9b9ed;
  display: grid;
  grid-template-columns: 30px 50px 30px;
  max-width: 120px;
  height: 30px;
  border-radius: 4px;
  margin-left: 10px;
}
/* Firefox */

.qty1 {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qty2 {
  display: flex;
  grid-column: 2;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.qty2 input {
  width: 100%;
  border: 0;
  outline: none !important;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.qty2 input::-webkit-outer-spin-button,
.qty2 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.qty2 input[type="number"] {
  -moz-appearance: textfield;
}
.qty3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  grid-column: 3;
}
.justify svg path {
  fill: gray;
}

@media only screen and (max-device-width: 460px) {
  .item {
    min-height: 170px;
    max-height: 170px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 50px;
  }

  .grid-pic {
    grid-column: 1/2;
    grid-row: 1 /2;
  }

  .grid-info {
    grid-column: 2/4;
    grid-row: 1;
    margin-left: 20px;
  }
  .grid-qty {
    grid-row: 2;
    grid-column: 1/4;
  }
  .qty-all {
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
  }
}
