.side-bar {
  display: flex;
  position: relative; /*to be over x */
  flex-direction: column;
  height: 100vh;
  width: 36%;
  min-width: 460px;
  max-width: 520px;
  background-color: #dddddd;
  margin-right: 0px;
  margin-left: auto;
  z-index: 40;
}
.back {
  background-color: #dddddd;
}
.fix-summary {
  height: 100px !important;
}

@media only screen and (max-device-width: 460px) {
  .side-bar {
    width: 100%;
    height: 100%;
  }
}
